### Imports

In [62]:
import pandas as pd
import gensim
import gensim.downloader
import numpy as np
import tensorflow as tf
import random

### Load data

In [63]:
train_customers = pd.read_csv("../data/train_customers.csv")
test_customers = pd.read_csv("../data/test_customers.csv")

In [64]:
train_customers = list(train_customers['akeed_customer_id'])

In [65]:
test_customers = list(test_customers['akeed_customer_id'])

In [66]:
orders = pd.read_csv("../data/orders.csv")
vendors = pd.read_csv("../data/vendors.csv")

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (15,16,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Data Filtering

In [67]:

orders = orders[["customer_id", "vendor_id"]]

In [68]:
orders

       customer_id  vendor_id
0          92PEE24        105
1          QS68UD8        294
2          MB7VY5F         83
3          KDJ951Y         90
4          BAL0RVT         83
...            ...        ...
135298     L6LFY6H         67
135299     2GMMVGI         79
135300     LYTAAV0         28
135301     NEV9A5D        841
135302     77KCRC1         79

[135303 rows x 2 columns]

In [8]:
orders_cnt = pd.DataFrame(orders.groupby('customer_id').size(), columns=['count'])

In [69]:
orders_cnt.sort_values("count", ascending=False)

      customer_id  count
16463     XW90EAP    262
14407     TL7Z2DM    151
15259     VDEJEMP    146
8525      HJFTTGW    128
5420      B28LJKM    119
...           ...    ...
9263      J3EAF1I      2
9260      J3BX5SX      2
9259      J3742VA      2
9250      J2LYLXT      2
8763      I1SPM14      2

[17526 rows x 2 columns]

In [70]:
orders_cnt = orders_cnt[orders_cnt['count']!=1].reset_index()

In [71]:
customer_ids = list(orders_cnt['customer_id'])

In [72]:
orders_filtered = orders[orders['customer_id'].isin(customer_ids)]

In [73]:
orders_filtered

       customer_id  vendor_id
0          92PEE24        105
1          QS68UD8        294
2          MB7VY5F         83
4          BAL0RVT         83
5          U263OCD         83
...            ...        ...
135298     L6LFY6H         67
135299     2GMMVGI         79
135300     LYTAAV0         28
135301     NEV9A5D        841
135302     77KCRC1         79

[125384 rows x 2 columns]

In [74]:
vendors = vendors[["id","vendor_tag_name"]]

In [75]:
vendors

     id                                    vendor_tag_name
0     4  Arabic,Breakfast,Burgers,Desserts,Free Deliver...
1    13  Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...
2    20            Breakfast,Desserts,Free Delivery,Indian
3    23                      Burgers,Desserts,Fries,Salads
4    28                                            Burgers
..  ...                                                ...
95  849  American,Breakfast,Burgers,Cafe,Desserts,Free ...
96  855  American,Burgers,Desserts,Free Delivery,Fries,...
97  856  American,Breakfast,Burgers,Cafe,Desserts,Free ...
98  858  American,Breakfast,Burgers,Cafe,Desserts,Free ...
99  907                       Fatayers,Mojitos ,Sandwiches

[100 rows x 2 columns]

In [76]:
dataset = pd.merge(orders_filtered, vendors, left_on='vendor_id', right_on='id')
dataset

,customer_id,vendor_id,id,vendor_tag_name
0,92PEE24,105,105,"American,Burgers,Free Delivery,Hot Dogs,Pasta"
1,I9DNSMJ,105,105,"American,Burgers,Free Delivery,Hot Dogs,Pasta"
2,I9DNSMJ,105,105,"American,Burgers,Free Delivery,Hot Dogs,Pasta"
3,4BQI76G,105,105,"American,Burgers,Free Delivery,Hot Dogs,Pasta"
4,V6JC4VF,105,105,"American,Burgers,Free Delivery,Hot Dogs,Pasta"
...,...,...,...,...
125379,PGE4TTF,907,907,"Fatayers,Mojitos ,Sandwiches"
125380,NNG2RIE,907,907,"Fatayers,Mojitos ,Sandwiches"
125381,1UMBP8X,907,907,"Fatayers,Mojitos ,Sandwiches"
125382,3EABH9S,907,907,"Fatayers,Mojitos ,Sandwiches"
125383,L8TVFTK,907,907,"Fatayers,Mojitos ,Sandwiches"

In [77]:
# helper dict
customer_reataurants = {}
for i, row in dataset.iterrows():
    if row['customer_id'] not in customer_reataurants.keys():
        customer_reataurants[row['customer_id']]=[row['vendor_id']]
    else:
        if row['vendor_id'] not in customer_reataurants[row['customer_id']]:
            customer_reataurants[row['customer_id']].append(row['vendor_id'])

In [78]:
customer_reataurants

{'92PEE24': [105],
 'I9DNSMJ': [105, 83, 193, 180, 90, 43, 84, 44, 537, 681],
 '4BQI76G': [105, 289, 160, 846],
 'V6JC4VF': [105, 193, 84, 419, 386, 681],
 'IJHNJ90': [105, 85, 113, 148, 537],
 'IB555AJ': [105, 294, 83, 104, 304, 299, 145, 84, 44, 356, 537, 459, 386],
 'NVDVNOO': [105, 199],
 'VLXLNZM': [105, 83, 90, 160, 148, 459],
 'OD336VP': [105, 154, 193, 106, 189, 86],
 'TVSPG2H': [105, 193, 85, 189, 43, 44, 356, 391, 86, 681],
 'CF80YUJ': [105, 195, 299, 243, 84, 459, 583, 841, 846, 843],
 'DFIDHD7': [105],
 '0ZU8WW6': [105, 154, 193, 195, 145, 843],
 'NGXUX69': [105, 83, 195, 459],
 'YU90KWF': [105, 90, 243, 237, 386],
 '95DOM9X': [105, 145],
 'CLXMEXI': [105, 83, 4, 221, 145, 84, 583],
 'SMB4DEV': [105, 83, 154, 160],
 'LYIHJ4Y': [105, 83, 386],
 'CVYGY00': [105, 90],
 'KE5DMQI': [105, 43, 199, 356],
 'X25Q7CG': [105, 83, 193, 231, 304, 197, 145, 84, 459, 386, 846],
 '6Y7WPB1': [105, 294, 225, 199, 459],
 'MICNNLD': [105, 83, 84],
 'HNAPPT9': [105, 145, 148],
 'QFVI0O3': [105, 154, 90, 259],
 'G9VUPZP': [105, 83, 231, 148, 419, 86],
 'F4XMQVL': [105],
 '0HUMB5G': [105, 304, 43],
 'QQEWRHI': [105, 83, 85, 304, 84, 86, 386],
 'H6CLZFF': [105, 85],
 '81WGLDK': [105, 83, 75, 104, 578],
 'P6ZQHWF': [105,
  83,
  154,
  81,
  180,
  231,
  225,
  289,
  90,
  197,
  145,
  148,
  84,
  237,
  356,
  537,
  577,
  583,
  681,
  846],
 'DLA0MBW': [105, 85, 86],
 'KT9KCKV': [105, 197, 145, 148, 459, 386],
 'EUGXBFZ': [105, 300, 90, 145, 419, 386, 575],
 'SHFDTXJ': [105, 83, 78, 113, 157, 145],
 'ZWJTX1L': [105, 193, 85, 110, 189, 43, 199],
 'SAU5BL4': [105, 84, 86],
 'XXCSUR6': [105, 83, 4, 195, 84],
 'M0N2T37': [105, 294, 85, 231, 145, 356, 86, 386],
 'FCMQGD4': [105, 160, 419, 391, 86, 537, 386],
 '6J60XIY': [105,
  83,
  78,
  193,
  85,
  195,
  106,
  76,
  191,
  189,
  148,
  84,
  79,
  356,
  86,
  386,
  583,
  681,
  843],
 'C3ZWTGF': [105, 83, 85, 90, 43, 84],
 'NZ4L7J4': [105, 85, 81, 197, 44, 398],
 'BYY6I3W': [105, 83, 85, 84, 86],
 '6R59TBG': [105],
 'Z1C3S5S': [105, 304, 243],
 'RYGC7LK': [105, 207, 846],
 'APVE9H2': [105, 83, 85],
 'F3WCT9Y': [105, 83, 160, 84],
 'R5VAHM9': [105, 83, 85, 81, 356, 459],
 'K0LD40O': [105, 83, 193, 85, 195, 106, 90, 145, 84, 356, 537, 386],
 'OU5B1WG': [105, 154, 537],
 '2CG58O1': [105, 193, 4, 81, 180, 33, 159, 90, 243, 145],
 'X80K5RN': [105, 180, 583, 849],
 '01RMLT7': [105, 157, 289, 90, 84, 237, 356, 86, 537],
 '5W8VNE1': [105, 289, 304, 299, 84, 44, 398],
 'U9JXJSO': [105, 294],
 '8JXJI60': [105, 294, 250, 243, 849],
 'BOZZQ2D': [105, 55, 148],
 'VS80IO8': [105, 85, 231, 250],
 'MAEOWHD': [105, 44, 537],
 'OF8VT8O': [105, 237, 583],
 'VGAYR39': [105, 134],
 'Y2KAJHW': [105, 83, 304, 84, 356, 459, 843],
 '3XV3MK5': [105, 294, 193, 289, 243, 84, 237, 356, 386, 681],
 'SOC6SH0': [105, 85, 145, 84],
 'CNC96FQ': [105, 271],
 'GJTUY69': [105, 83, 193, 148, 537],
 '8VM2NBK': [105, 83, 300, 419],
 '946PUXO': [105, 83, 78, 288, 113, 106, 28],
 'HOOJFD3': [105, 83, 193, 304, 299, 237, 356],
 'RN1V9YM': [105, 294, 84, 386],
 'KWTWMR8': [105, 356, 846, 843],
 '6P7HSQS': [105, 75, 180, 159, 104, 55],
 'TWPHS2K': [105, 203, 84, 86, 386, 846],
 'X2JB6S0': [105, 83],
 '1MG0BMI': [105, 78, 113, 28, 79],
 'WNPO6W0': [105, 83, 85, 81, 90, 145, 84, 356, 86, 386],
 '0QT4ARE': [105, 160, 43, 84],
 'OJ6L8CF': [105, 20, 115, 106, 104, 259, 43],
 'K8OQLG4': [105, 193, 86, 459, 849],
 'E3QJEOV': [105],
 '736OWLB': [105, 145, 583],
 '7WEVWHX': [105, 83, 85, 300, 90, 304, 189, 84, 356, 391, 386, 849],
 'C6AC2D8': [105, 231, 106, 82, 398, 681],
 'ZLJXTAT': [105, 289, 207, 237, 356, 459],
 'HMCE9QX': [105, 83, 85],
 '3R70OJM': [105],
 '9L4Q1TB': [105, 83, 4],
 'UDI4OR3': [105, 843],
 '6LQ567S': [105, 83, 386, 846],
 'X3MUR9S': [105, 193, 304, 160, 243, 84, 459, 846],
 'PQB9ZOG': [105, 85, 225, 160, 43, 243, 145, 237, 459],
 'TRBBBVZ': [105, 85, 84],
 'NSLBMYV': [105, 83, 43],
 'LCY5W4A': [105, 83, 85, 90, 197, 243, 148, 84, 237, 419, 391, 537],
 '6L3TPLJ': [105, 225, 145],
 'KHJ5CFI': [105,
  83,
  154,
  85,
  231,
  225,
  207,
  243,
  145,
  199,
  356,
  419,
  391,
  386,
  398],
 'QCU4QPQ': [105, 85],
 'YRJWIPY': [105, 231, 160],
 'VB9YGMX': [105, 294, 113, 289, 55, 84, 44, 583],
 'O10C612': [105, 299, 148, 459, 386],
 'K4QAR6T': [105, 83, 85, 225, 160, 43, 84, 86, 575, 846],
 'QFWZ0G1': [105, 43, 145, 86],
 'I4LCRRH': [105, 85, 81, 231, 225, 243, 86, 386, 575, 583],
 'C8ADOK0': [105, 83, 85, 161, 145, 84],
 'DZEULQV': [105, 90, 250, 145, 386, 846],
 'ZUVZ8UM': [105, 90],
 'VPN0B8I': [105,
  294,
  83,
  154,
  85,
  225,
  289,
  104,
  191,
  243,
  148,
  84,
  391,
  86,
  386,
  575],
 'DMSDGEG': [105, 86, 398, 583],
 'BVNY0R8': [105, 83, 154, 846],
 '74PW0W5': [105, 83, 85, 299, 207, 84, 537, 216],
 '2WTT1BA': [105, 83, 193, 299],
 'Y73ESKL': [105, 197, 44, 86, 537],
 'VUG6KPD': [105, 85, 299, 145, 199, 86],
 'PZPYWHI': [105, 154, 85, 231, 90, 145, 86],
 'IG7NWWA': [105, 83],
 'YFB7638': [105, 391, 386],
 'OZWLN15': [105, 83, 78, 160, 84, 356, 386],
 '9WSEJGR': [105, 85, 86],
 'WTDRWIM': [105],
 'PRYZZZ4': [105, 83, 106, 84, 86, 846],
 'K33CA1S': [105,
  83,
  85,
  231,
  225,
  160,
  92,
  299,
  43,
  243,
  199,
  84,
  44,
  237,
  86,
  386,
  846],
 'J8F6WKQ': [105, 85, 231],
 'QCPAMNP': [105, 294, 83, 289, 106],
 '36HJ8TE': [105, 294, 83, 391],
 '5PH5ZKX': [105, 193, 231, 225],
 '4JWHGU2': [105, 85, 84, 86, 386],
 '0WQJEBS': [105, 304],
 'ODKUO5Q': [105, 83, 193],
 'RVOTHYO': [105, 55],
 'A5PEW70': [105, 193, 85, 90, 43, 197, 243],
 'ED14FYC': [105, 193, 231, 104],
 'GALXALP': [105, 83, 154, 85, 145, 846],
 'KV3K4KW': [105, 85, 148, 419, 86, 386, 398],
 '4JFU82B': [105, 294, 83, 85, 289, 191, 243, 84, 237, 86, 386, 575, 846],
 'F8Z5Q9Q': [105, 85, 391],
 'QKI0RS4': [105, 193, 85, 189, 356],
 '5U5JCUN': [105, 113],
 'V6VPJ6U': [105, 83],
 'QXFBICK': [105, 104, 84, 86],
 'PUDTJ3Z': [105, 193, 85, 289, 90, 86],
 'Q6GRV2D': [105, 294, 83, 154, 90, 299, 84, 82],
 'VVZ3YB1': [105, 197, 84],
 'SOHZLRR': [105, 43, 79],
 'LZK20DZ': [105, 85, 43, 44, 391, 459, 386],
 'NSQTAPR': [105, 134, 104, 298, 849],
 '9SSBE7I': [105, 221, 33, 134, 104, 274],
 'A1IF1BK': [105, 83, 154, 243, 145],
 'CYUENA5': [105, 85, 304, 243, 44, 391, 386],
 'FEQQBQ2': [105, 43, 84, 419],
 '63GR4N5': [105, 83, 90, 299, 84, 356, 386, 849],
 'QEV4XD1': [105, 83, 154, 85, 195, 304, 84, 86, 537, 386],
 'DM7N8NV': [105, 83, 304, 299, 44],
 '0ECDDSB': [105, 83, 84, 79, 419, 537],
 'G4MFJXW': [105, 189],
 '6W46LYO': [105, 86],
 'CUXT7BX': [105, 44],
 '58JFM01': [105, 271, 145, 537],
 '2JJAO46': [105,
  193,
  288,
  20,
  81,
  303,
  225,
  33,
  310,
  55,
  250,
  92,
  271,
  298,
  145,
  82,
  356,
  577,
  578,
  583,
  547,
  846,
  858,
  843],
 'K1ZFVS7': [105, 83, 191, 243, 237, 681, 849],
 '76GYVP7': [105, 193],
 'MGGV3XP': [105, 846],
 'NG18RRE': [105, 294],
 'CQSB5NM': [105, 75, 231, 356, 537],
 'VNJL7TB': [105, 849],
 '36IPIEN': [105, 83, 221, 300, 113, 157, 106, 148, 391, 547, 856],
 'EVYAXDB': [105, 90, 537, 386, 846],
 '1WQUQ2U': [105, 193, 207, 243, 145, 148, 419, 537],
 '2NAKW3U': [105, 180, 225, 145, 237, 356, 681],
 'AY2OR9V': [105],
 'IFP0IG1': [105, 113, 90, 84],
 'QN8I1DE': [105, 391, 386, 575, 846],
 'P0AVQRS': [105, 83],
 'SCTUDNM': [105, 193, 106, 201, 160, 243],
 'T3591ES': [105, 84],
 '9VT7P1L': [105, 231],
 'X84F4S7': [105, 154, 289, 90, 160, 199, 537],
 'KUKDG5J': [105, 90, 160],
 'KGVQJDF': [105, 20, 13, 159, 192, 197, 82, 79],
 'JSGNJSI': [105, 83, 85, 300, 243, 583, 681],
 'SNS7GCQ': [105, 83, 78, 4, 20, 159, 106],
 'A0IQ2SU': [105, 106, 577],
 '7F2GDZ1': [105, 85, 161, 391, 86, 386, 849],
 'GYIYFEV': [105, 90],
 'Y89R3LV': [105, 193, 85, 189, 243, 86],
 'WYWE2FX': [105, 356, 391, 386],
 'LLXSRZN': [105, 113, 289, 259, 148, 398, 845],
 'FYW3OLY': [105, 83, 300, 225, 23, 289, 84, 237, 537, 386, 401],
 'Q0X2BHR': [105],
 'GBKN4J5': [105, 294, 78, 85],
 'WJSV0GV': [105, 294, 83],
 'QN75FT3': [105, 86, 537, 846],
 'WTI9UYU': [105, 294, 83, 85, 304, 84],
 'KJO7ED0': [105, 160, 84, 386, 846],
 'RSYAGC4': [105, 83, 84, 398],
 '9WS36TE': [105, 195],
 'NHC71N6': [105, 85, 289, 271, 44],
 '2VB8J3J': [105, 83, 225, 243, 84],
 '0B3QNQ5': [105, 83, 154, 161, 231, 225, 289, 84, 44, 537, 459, 386],
 'ZM115HH': [105, 154, 4, 85, 271, 145, 86],
 'YEN89K3': [105, 83, 193, 85, 289, 189, 299, 243, 84, 237, 356, 419, 86],
 'OO2XWX9': [105, 85],
 '5KX1JXZ': [105, 84, 356, 583],
 'HPOVV62': [105, 193, 231, 289, 106, 104],
 'MS37KHR': [105, 154, 197],
 'CXI1L5J': [105, 90, 189, 84, 237, 386, 575],
 'MBQMS5F': [105],
 'OQ27G1K': [105,
  78,
  4,
  75,
  221,
  110,
  23,
  113,
  106,
  104,
  299,
  243,
  84,
  79,
  419,
  578,
  583,
  547,
  679,
  858,
  849],
 'PW5UESL': [105, 85, 90, 304, 189, 386],
 'CM2CVQ1': [105, 195, 75, 180, 110, 104, 265, 259, 192, 66, 84, 356, 216],
 'JMPQ3RW': [105, 304],
 'L5NDVK1': [105, 265],
 'S8LTID8': [105, 78, 195, 75, 300, 295],
 'TAXY1ZC': [105,
  154,
  85,
  231,
  225,
  90,
  160,
  243,
  148,
  84,
  237,
  356,
  86,
  537,
  386],
 'XUSOIIK': [105, 294, 231, 90, 575, 583],
 'H3GIPL2': [105, 189, 356],
 'YUC2LGI': [105, 231, 250, 846],
 '2LS6BMO': [105,
  83,
  193,
  85,
  289,
  90,
  160,
  189,
  207,
  43,
  243,
  148,
  84,
  44,
  356,
  398,
  583],
 '256BA69': [105, 84],
 'P8J73WV': [105, 85, 90, 237, 356, 537, 846],
 '61IYU59': [105, 83, 90, 84, 237, 391, 386],
 'P61IAEA': [105, 193, 243, 148, 84, 237, 356, 537, 386, 398],
 '25M48PH': [105, 85, 90, 84, 356, 391, 86, 386],
 'D57OJVL': [105, 193, 231, 843],
 'ND1FAS8': [105, 83, 154, 225, 90, 148, 84, 86, 459, 386],
 'CW1Z5KA': [105, 83, 231, 43, 84, 44, 391, 537, 846],
 'DUJF7L7': [105, 83, 231, 225, 299, 356, 419, 391, 386],
 'R3UI3JC': [105, 83, 225, 250, 299, 84, 356, 86],
 'ENS6KUT': [105,
  83,
  154,
  193,
  85,
  300,
  225,
  90,
  304,
  299,
  43,
  243,
  148,
  356,
  537],
 'K4AKKW0': [105, 85, 84, 86, 386, 846],
 'SCVU7WE': [105, 154, 85, 90, 43, 145, 148, 356, 391, 386, 575],
 'NWNWQWW': [105, 82],
 'J4MG3GW': [105, 83, 243, 145, 84, 356, 419, 391, 537, 459, 386, 575, 846],
 'J879Y55': [105, 843],
 'ELHY4SH': [105,
  83,
  193,
  4,
  195,
  75,
  13,
  76,
  104,
  55,
  189,
  356,
  391,
  86,
  846],
 'B9XTWOO': [105, 83, 391, 845],
 'V4LP9SX': [105, 83, 195, 271, 243, 84, 44, 386, 575],
 'LI0S92Y': [105, 225, 55, 90, 207, 148, 84, 459, 386],
 'G2ETKAD': [105, 157],
 '98E2CMM': [105, 294, 849],
 'W17UJY9': [105, 90, 145, 44, 86, 386],
 '3GGOYDJ': [105, 84, 86],
 'DMG91HC': [105, 225, 197, 148, 86],
 'SU2U55V': [105, 145],
 '7WHHS16': [105, 193, 189, 145],
 '4YIUNDJ': [105, 391],
 'DQVF6BI': [105, 294, 83, 145, 199, 84, 391, 86, 537, 386, 846],
 '5PNW70Q': [105, 225, 90, 356],
 '01HG648': [105, 84, 419, 537],
 '1UEQ9OV': [105, 294, 83],
 'HPMS8WP': [105, 225, 299, 84, 356, 537, 459],
 'R2PVLKU': [105, 83, 90, 243, 84, 237, 356, 391, 86, 537, 386, 575, 846],
 'OXL4LCS': [105, 197, 537],
 '2YXLN4W': [105, 83, 90, 304, 299, 207, 243, 84, 386, 575, 846],
 'OWW2OEP': [105, 83, 197, 243],
 '3C9X0XE': [105, 83, 231, 104, 90, 243, 356, 419],
 'YZ1ZY49': [105, 160, 537, 846],
 'RAKH9IL': [105, 294, 83, 43],
 'HEYTT47': [105, 83, 85, 104, 90, 84, 356, 391, 86, 386, 846],
 '1HQG2XD': [105, 78, 4, 161, 113, 310, 265, 79, 578, 547, 679],
 'TG2DSLE': [105, 20, 237, 356, 86, 846],
 '0LCQY60': [105, 84, 86],
 '6MQKO3Q': [105, 83, 225, 199, 84],
 'ZGQGNTM': [105, 90, 44],
 'QG6KMBN': [105, 231, 225, 299, 84, 386],
 '4QF671J': [105, 84],
 'SR9IBP5': [105, 83, 225, 299, 84, 537, 386],
 'MCSTR4Y': [105, 300, 160, 537],
 '8Q2WTVL': [105, 289, 145, 148, 199, 356, 391, 86, 846],
 'VR0V2GV': [105, 225, 160, 145, 356, 846],
 'POCZ19H': [105, 83, 195, 243, 84, 237, 386],
 'W9LFIYT': [105, 84],
 'WGW04WI': [105, 85, 304, 299, 84, 391, 86, 537, 386, 846],
 'QHADGS6': [105,
  83,
  154,
  231,
  225,
  289,
  160,
  148,
  84,
  86,
  386,
  398,
  583,
  846],
 '5R9VZ83': [105, 85, 43, 86, 537],
 '8CL656S': [105, 85, 86, 537, 386],
 'O6Y6U1F': [105, 85, 84, 356, 86, 537, 459, 846],
 '9EB7EYY': [105, 193, 106, 90, 145, 84, 391, 537, 386, 575],
 'GQ1Y6PM': [105, 289, 84],
 '2ERUPY1': [105, 289, 90, 356, 86, 537, 386, 575],
 '3M4M588': [105, 294, 83, 304, 299, 84, 237, 391, 86, 537, 459, 386],
 'WZEECA1': [105, 189, 84, 86, 537, 386],
 'XUQV9XI': [105, 83, 231, 289, 84, 537, 386],
 'MUK2KGD': [105, 83, 300, 145, 84, 86],
 'JHHXBZP': [105, 197, 86, 459, 386],
 'BKNHZ4W': [105, 846],
 '0QFNZ9Y': [105, 243, 846],
 'YU1KC5V': [105, 391, 537, 386],
 'MUN6WYW': [105, 148, 537],
 'FXTHGDP': [105,
  83,
  85,
  225,
  90,
  43,
  243,
  145,
  84,
  44,
  237,
  391,
  86,
  537,
  459,
  846],
 'TANRIAA': [105, 83, 300, 145, 84, 391, 86, 386, 575],
 'I1RX46W': [105, 83, 85, 299, 84, 86, 537, 386],
 '40CJQN6': [105, 86],
 'JZYNCQ2': [105, 160, 86],
 'KH8PFGX': [105, 154, 225, 299, 145, 84, 537],
 '76H2GOX': [105, 83, 289, 398],
 'BEBR89U': [105, 83, 193, 299, 148, 86],
 'EYSF0SU': [105, 193, 189, 84, 843],
 'P4U1UOC': [105, 231, 90, 84, 44],
 'PHRGJ49': [105, 33],
 'BM3LC90': [105, 83, 90, 160, 299, 148, 84],
 'NML7JCW': [105, 459, 846],
 '0Y2DS4S': [105, 85],
 'URLP7T1': [105,
  193,
  300,
  110,
  90,
  304,
  189,
  271,
  197,
  243,
  356,
  391,
  86,
  459,
  547,
  845],
 'S2EH0QV': [105, 391],
 'RC3CF8G': [105, 225, 160, 84, 459, 386, 398],
 'BVSLXXM': [105, 90, 197, 145, 148, 356, 86, 386, 577],
 'UM8DI7N': [105, 83, 289, 243, 459],
 '2UX6GG0': [105, 243, 391, 537, 386],
 'T5V0NYA': [105, 83, 300, 299, 84, 86, 537],
 'XONYTZR': [105, 225, 299, 148, 386],
 '7D2TXP1': [105, 83, 85, 304, 84, 537, 386],
 'EB8RUGK': [105, 85, 225, 299, 86, 583, 681],
 'FYLYDFM': [105],
 'KPDZHDQ': [105, 207, 419, 391, 386, 575],
 'YYK7Y7Z': [105, 195, 199, 84, 86, 386, 846],
 'LM1YLEN': [105, 160, 44, 356, 391, 86, 386],
 '25VS78O': [105, 154],
 'INXVSZA': [105, 294, 90, 84],
 'VUNDNK9': [105, 243, 237, 391, 86, 537, 459],
 'BVBDB3M': [105, 106],
 'G0URVPU': [105, 83, 231, 225, 90, 299, 243, 237, 356, 537, 386],
 'CNGD07A': [105, 85, 90, 86, 537],
 'OL1EW1M': [105, 85, 81, 231, 225, 84, 459, 386, 575],
 'GJR204K': [105, 85, 84, 86, 575],
 'DIXD25Q': [105, 288, 75, 110, 310, 28, 188, 577, 547, 681, 846, 858],
 '9BW9MCP': [105, 85, 84, 86],
 'PBA4D03': [105, 104, 189, 681],
 '0YMPZLT': [105, 90, 356, 537, 846],
 'THSZTKE': [105, 84, 237, 391, 386],
 'XP9Q1B6': [105, 83, 43, 84, 419, 537],
 'BEHMP6V': [105, 83, 85, 199, 86],
 'VSEBM93': [105, 225, 243, 84, 237, 386],
 '3A0MZQ1': [105, 846],
 'ZRIE70P': [105, 44],
 'J1RDTU4': [105, 113, 160, 419, 537, 398, 846, 843],
 '4UZKXW2': [105,
  294,
  78,
  288,
  85,
  195,
  300,
  157,
  310,
  304,
  271,
  43,
  82,
  237,
  356,
  391,
  459,
  386,
  583,
  846,
  856,
  855],
 'NOKYRRQ': [105, 83, 160, 207, 145, 84],
 'DUVWQXP': [105, 231, 225, 243, 237],
 'WEGNX0V': [105, 84, 86, 537, 386],
 'Z60D9VM': [105, 180, 160, 84, 86, 386],
 '5A0E3L8': [105, 85, 90, 86, 537],
 '2ZANYPR': [105, 195, 90, 160],
 'TFW6X5G': [105, 160, 84, 356, 386, 846],
 'N54TYPB': [105, 195, 199, 84, 237, 391, 575, 846, 858],
 'XHVKVAR': [105, 294, 83, 193, 189, 299, 84, 237, 843],
 'KWIPV5L': [105, 225, 84, 391, 537],
 'VDJU7YT': [105, 304, 299, 84, 237, 356, 86, 537, 575],
 '5HWPF6G': [105, 83, 304, 299, 145, 86, 459],
 'JO285GP': [105, 294, 83, 160, 148, 84, 537],
 '1FFU6DG': [105, 231, 225, 304, 160, 299, 82, 391, 86, 537, 459, 386, 575],
 'EWRY7PV': [105, 83, 160, 84, 575],
 'NN164FB': [105, 225, 90, 84, 44, 86],
 'QYXF34L': [105, 154, 86, 386],
 'XJY1AFW': [105, 83, 84, 537, 459],
 'J7OGNXA': [105, 85, 300, 225, 90, 160, 356, 846],
 'W4XUDNO': [105, 231, 681],
 'HFT9T6M': [105, 90, 304, 250, 189, 243, 846],
 'P8BBJ3Z': [105, 391],
 '4T22BOW': [105, 106, 90, 237, 537, 386],
 '9JGL36G': [105, 90, 148, 84, 419, 391, 386, 846],
 '450KED3': [105, 294, 83, 289, 148, 84, 356, 86, 386, 846],
 'FJV76QQ': [105, 84, 44],
 'SF0F4QP': [105, 225, 113, 289, 304, 299, 84, 356, 86, 537, 846],
 'YY0J80P': [105, 44],
 '39F6J3I': [105],
 '13P0LFL': [105, 83, 85, 231, 225, 289, 160, 84, 459, 398],
 'KTJ67NR': [105, 83, 195, 199, 44, 86, 386],
 'OQNJU3S': [105, 83, 459, 846],
 'R10OW1F': [105, 231, 159, 259, 681],
 'LQL48VL': [105, 83, 154, 299, 44, 459],
 'OWUFK44': [105, 83, 85, 180, 90],
 'UI5IKWK': [105, 225, 243, 237, 391, 86, 537, 459, 386, 846],
 'M2T4D74': [105, 84, 846],
 '0IKT962': [105, 83, 85, 231],
 'IAYS9XI': [105, 83, 160, 197, 84, 356, 391, 537, 459],
 '8FP8UGQ': [105,
  4,
  288,
  75,
  303,
  110,
  33,
  13,
  159,
  106,
  134,
  104,
  259,
  28,
  250,
  92,
  271,
  298,
  188,
  401,
  547,
  679],
 'TUQVDJ0': [105, 195, 225, 299, 84, 44, 356, 419, 391, 86, 537, 459, 575],
 'V2A9RXW': [105,
  193,
  85,
  289,
  55,
  189,
  243,
  84,
  356,
  86,
  537,
  386,
  846,
  849,
  845],
 '95ERD8N': [105, 304, 299, 44],
 'O3LKX9A': [105, 201, 92, 207, 578],
 '3SAL8XU': [105, 84, 86],
 'XI57UCF': [105, 85, 90, 44, 537],
 'QZ15OWI': [105, 83, 231, 289, 237],
 '0WZYVWG': [105, 83, 207, 148, 84],
 '5HE730E': [105],
 'U49HQ2L': [105, 78, 113, 106, 134, 104, 192],
 'UN195LZ': [105, 83],
 'U73I4M7': [105, 83],
 'IL9MJSW': [105,
  4,
  75,
  20,
  300,
  33,
  159,
  274,
  28,
  92,
  192,
  243,
  188,
  578,
  547],
 'Q9HW7R4': [105, 20, 76, 160, 43, 84, 44, 356],
 'BDBOX4L': [105, 83, 193, 225, 304, 160, 189, 207, 148, 84, 237, 86, 846],
 '41P20B1': [105, 294, 83, 106, 90, 207, 84, 237, 86, 537, 386, 575, 846],
 'OF8HJYC': [105, 90, 243, 199],
 '7ODG2VL': [105, 90, 84, 356, 459],
 'LBJJKVS': [105, 195, 81, 231, 289, 106, 104, 160, 84, 391, 575],
 'KL5JGSB': [105, 294, 203],
 '80CT0D5': [105, 83, 231, 225, 304, 160, 243, 84, 237, 537],
 'E2DXSC7': [105],
 '1Z68K58': [105, 294, 243, 391],
 'AQX0E37': [105, 193, 250, 197, 145, 86],
 'JQOE1KS': [105, 82],
 'MNE4YG7': [105, 225],
 'HZE9LZW': [105, 304],
 'Z69IVC7': [105, 83, 231],
 '41QNGRW': [105, 20],
 '6XBL9OD': [105, 85, 90, 160, 207, 86, 459, 386, 846],
 '2532Y1A': [105, 85, 113, 79],
 'V6ODQ8W': [105],
 'TWG1NAY': [105, 113, 289, 106, 104, 28, 250, 145, 44, 67],
 'M9K2XB5': [105, 195, 75, 81, 180, 289, 76, 104, 191, 299, 207, 66, 846, 858],
 'PRCGI2E': [105, 849],
 '9AJFIKZ': [105, 193, 356],
 'NSE2CP5': [105, 193, 85, 225, 289, 160, 271, 84, 86, 459, 386],
 'S0C2QF1': [105, 83],
 'Q0T924D': [105, 294, 83, 78, 193, 20, 289, 199],
 'YUEKOOH': [105, 83, 81, 289, 160, 145, 84, 419, 846],
 'DXHU96T': [105, 231, 84, 86, 386],
 'XNL4G6N': [105, 356],
 'TOVJ2FG': [105, 78, 104, 43, 577, 681],
 'B28MPMB': [105, 83, 154, 356],
 'MV7EJIJ': [105, 85],
 'X571GDA': [105, 85, 113, 575],
 'EHOBHX0': [105, 85, 231, 271, 148, 459, 575],
 '52NYHJB': [105, 83, 225, 84, 237, 356, 391, 86, 583],
 'AFFRPHQ': [105, 83, 154, 289, 148],
 'OJSYIV7': [105, 85, 81, 231, 197, 84, 575],
 'T1KQISM': [105, 265, 849],
 'WTSEQZ3': [105, 193],
 'C3MCFR0': [105, 85, 391, 86, 459],
 'H986M3O': [105, 83, 189, 148],
 'WB681BO': [105, 90, 271, 386],
 'JEL9F4U': [105, 83, 85, 84, 44, 67, 86],
 'A1XDJ83': [105, 231, 243],
 'ROXCWOC': [105,
  83,
  225,
  250,
  271,
  207,
  84,
  79,
  419,
  537,
  386,
  398,
  578,
  583,
  681],
 'RYV1HLM': [105, 193, 231, 160, 243, 459],
 '7NZDOOI': [105, 83, 231],
 'KWN25Z5': [105, 83, 160, 145, 148],
 'VJWW40Y': [105, 75, 221, 225, 113, 106, 104, 28, 250, 216, 578, 547],
 'OATTBF9': [105, 83, 85, 90],
 'FGO9Q6B': [105, 78],
 'J2P4H5C': [105, 83, 85, 225, 84, 356, 846],
 'OCGBHDB': [105, 113, 106, 201, 243, 79],
 'Z7QPWJE': [105, 145],
 'WY80GDO': [105, 83, 849],
 'HDHHOEP': [105, 83, 304, 160, 299, 84, 419, 846],
 '4U4TX6F': [105, 294, 83, 90, 84, 79, 391, 843],
 'AZSA17M': [105, 193],
 'UI10PCC': [105, 83, 154, 225],
 'DN2W6OM': [105, 193],
 'EJ57MBO': [105, 79],
 '65AJ2YR': [105, 78, 288, 79, 843],
 'LXJ0PT6': [105, 81, 145, 44, 583],
 'RYRZARB': [105, 83, 85],
 'ZPFCWSX': [105, 85, 289, 299, 356, 391, 575],
 '8FALCPS': [105, 193, 310, 189, 44],
 'N7AGZT3': [105, 83, 193, 157, 189, 243, 145],
 'RD9MRWN': [105],
 'J92E48R': [105, 231],
 'ODB4WUV': [105, 84],
 'X2IUBZQ': [105, 83, 154, 193, 106, 189, 243, 145, 148, 44, 86],
 'M5W1NVY': [105, 83, 304, 299, 459, 398],
 'GAQ4IRP': [105, 23],
 'B5OOV5C': [105, 83, 193, 231, 113, 106, 259, 207, 84, 44],

In [79]:
restaurant_ids = list(dataset['vendor_id'].unique())

In [80]:
restaurant_ids

[105,
 294,
 83,
 78,
 154,
 193,
 4,
 288,
 85,
 195,
 161,
 196,
 75,
 20,
 221,
 300,
 81,
 180,
 231,
 303,
 225,
 110,
 176,
 33,
 23,
 115,
 113,
 13,
 157,
 159,
 289,
 106,
 134,
 76,
 104,
 310,
 55,
 201,
 274,
 265,
 90,
 304,
 259,
 160,
 28,
 250,
 191,
 189,
 92,
 192,
 271,
 299,
 203,
 298,
 207,
 43,
 197,
 243,
 66,
 145,
 148,
 199,
 84,
 82,
 149,
 188,
 44,
 79,
 237,
 356,
 419,
 391,
 67,
 86,
 537,
 459,
 386,
 295,
 401,
 398,
 216,
 573,
 575,
 577,
 578,
 582,
 583,
 547,
 679,
 681,
 676,
 841,
 846,
 858,
 849,
 845,
 843,
 856,
 855,
 907]

### Build attributes

In [81]:
def split_data_to_history_and_samples(df):
    df = df.groupby('customer_id')
    to_build_attributes = df.apply(lambda x: x.iloc[:x.customer_id.size//2])
    to_train = df.apply(lambda x: x.iloc[x.customer_id.size//2:x.customer_id.size])
    return to_build_attributes, to_train

In [82]:
to_build_attributes, to_train = split_data_to_history_and_samples(dataset)

In [83]:
to_build_attributes = to_build_attributes.reset_index(drop=True)

In [84]:
to_build_attributes

,customer_id,vendor_id,id,vendor_tag_name
0,005ECL6,237,237,"American,Burgers,Desserts,Donuts,Fries,Pasta,S..."
1,009UFS1,83,83,"Breakfast,Desserts,Salads,Arabic"
2,009UFS1,193,193,"Arabic,Burgers,Sandwiches,Shawarma,Grills,Pizz..."
3,00GV4J4,259,259,"American,Burgers,Kids meal,Pasta,Sandwiches,Sm..."
4,00HRRAK,113,113,"Arabic,Desserts,Free Delivery,Indian"
...,...,...,...,...
59118,ZZVLIB5,110,110,"Asian,Dimsum,Grills,Japanese,Rice,Soups"
59119,ZZY3N0D,85,85,"Desserts,Omani"
59120,ZZY3N0D,225,225,"Breakfast,Free Delivery,Fresh Juices,Fries,Kar..."
59121,ZZY3N0D,189,189,"Sandwiches,Shawarma,Fresh Juices,Mojitos,Milks..."
59122,ZZY3N0D,189,189,"Sandwiches,Shawarma,Fresh Juices,Mojitos,Milks..."

In [85]:
vendor_tag = to_build_attributes

In [86]:
vendor_tag = to_build_attributes.groupby(['customer_id'])['vendor_tag_name'].apply(lambda x: list(x))

In [87]:
vendor_tag = vendor_tag.groupby('customer_id').agg(sum)

In [88]:
vendor_tag = pd.DataFrame(vendor_tag).reset_index()

In [89]:
vendor_tag

      customer_id                                    vendor_tag_name
0         005ECL6  [American,Burgers,Desserts,Donuts,Fries,Pasta,...
1         009UFS1  [Breakfast,Desserts,Salads,Arabic, Arabic,Burg...
2         00GV4J4  [American,Burgers,Kids meal,Pasta,Sandwiches,S...
3         00HRRAK  [Arabic,Desserts,Free Delivery,Indian, Free De...
4         00HWUU3  [Desserts,Omani, American,Burgers,Desserts,Moj...
...           ...                                                ...
17521     ZZRJABJ  [Burgers,Fries,Grills,Mishkak,Mojitos ,Sandwic...
17522     ZZV76GY  [Asian,Desserts,Healthy Food,Japanese,Salads,S...
17523     ZZVGIVK  [Pizzas,Italian,Breakfast,Soups,Pasta,Salads,D...
17524     ZZVLIB5  [Fresh Juices,Healthy Food,Smoothies, Breakfas...
17525     ZZY3N0D  [Desserts,Omani, Breakfast,Free Delivery,Fresh...

[17526 rows x 2 columns]

In [30]:
word2vec_google_news = gensim.downloader.load('word2vec-google-news-300')

In [90]:
def vectorize(x_train, pretrained_model):
    embeddings = []
    for i, text in x_train.iterrows():
        text_vectors = []
        tags = str(text['vendor_tag_name']).replace('Healthy Food', 'healthy').replace('Fresh Juices','juices')\
        .replace('Kids meal','kids').replace('Hot Chocolate', 'chocolate').replace('Free Delivery','delivery')\
        .replace('Family Meal','family').replace('Frozen yoghurt','yoghurt').replace('Spanish Latte','latte')
        tags = tags.replace('\'','').replace('[','').replace(']','').replace(" ","")
        for word in tags.split(","):
            word = word.lower()
            if word in pretrained_model:
                text_vectors.append(pretrained_model[word])
            else:
                text_vectors.append(np.array([0]*pretrained_model.vector_size))
        x_train.at[i, 'vendor_tag_name'] = np.mean(text_vectors, axis=0)
        #text['vendor_tag_name'] = np.mean(text_vectors, axis=0)
        #print(text['vendor_tag_name'])
    return x_train

In [91]:
user_vectors =  vectorize(vendor_tag, word2vec_google_news)

In [92]:
user_vectors = user_vectors.rename(columns = {'vendor_tag_name': 'user_vector'})

In [93]:
to_train = to_train.reset_index(drop=True)

In [94]:
to_train

,customer_id,vendor_id,id,vendor_tag_name
0,005ECL6,237,237,"American,Burgers,Desserts,Donuts,Fries,Pasta,S..."
1,009UFS1,304,304,"American,Breakfast,Burgers,Fries,Sandwiches"
2,009UFS1,84,84,"Burgers,Fries,Kids meal,Shawarma"
3,00GV4J4,189,189,"Sandwiches,Shawarma,Fresh Juices,Mojitos,Milks..."
4,00GV4J4,843,843,"American,Breakfast,Burgers,Cafe,Desserts,Free ..."
...,...,...,...,...
66256,ZZY3N0D,356,356,"American,Kids meal,Pasta,Pizzas,Salads"
66257,ZZY3N0D,419,419,"Arabic,Kushari,Sandwiches"
66258,ZZY3N0D,86,86,"Cakes,Crepes,Desserts,Donuts,Fresh Juices,Ice ..."
66259,ZZY3N0D,537,537,"American,Burgers,Desserts,Free Delivery,Fries,..."
66260,ZZY3N0D,459,459,"Burgers,Free Delivery,Milkshakes,Mojitos"

In [95]:
restaurant_vectors =  vectorize(to_train, word2vec_google_news)

In [96]:
restaurant_vectors

,customer_id,vendor_id,id,vendor_tag_name
0,005ECL6,237,237,"[-0.15133667, 0.05897522, 0.09327698, 0.575439..."
1,009UFS1,304,304,"[-0.14379883, 0.023950195, 0.059326172, 0.5886..."
2,009UFS1,84,84,"[-0.0473938, 0.030151367, 0.08917236, 0.558105..."
3,00GV4J4,189,189,"[-0.17141113, -0.10946045, 0.0920166, 0.392871..."
4,00GV4J4,843,843,"[-0.08470459, 0.014013672, -0.01048584, 0.4401..."
...,...,...,...,...
66256,ZZY3N0D,356,356,"[-0.118896484, 0.1519043, 0.121679686, 0.50390..."
66257,ZZY3N0D,419,419,"[0.023763020833333332, 0.0233154296875, 0.0254..."
66258,ZZY3N0D,86,86,"[-0.1900906, -0.1623603, 0.0057271323, 0.36105..."
66259,ZZY3N0D,537,537,"[-0.11635045, -0.029715402, 0.042567663, 0.475..."
66260,ZZY3N0D,459,459,"[-0.14562988, -0.043823242, -0.018463135, 0.42..."

In [97]:
restaurant_vectors = restaurant_vectors.rename(columns = {'vendor_tag_name': 'restaurant_vector'})

In [98]:
restaurant_vectors.drop(['id'], axis='columns', inplace=True)

In [99]:
restaurant_vectors

,customer_id,vendor_id,restaurant_vector
0,005ECL6,237,"[-0.15133667, 0.05897522, 0.09327698, 0.575439..."
1,009UFS1,304,"[-0.14379883, 0.023950195, 0.059326172, 0.5886..."
2,009UFS1,84,"[-0.0473938, 0.030151367, 0.08917236, 0.558105..."
3,00GV4J4,189,"[-0.17141113, -0.10946045, 0.0920166, 0.392871..."
4,00GV4J4,843,"[-0.08470459, 0.014013672, -0.01048584, 0.4401..."
...,...,...,...
66256,ZZY3N0D,356,"[-0.118896484, 0.1519043, 0.121679686, 0.50390..."
66257,ZZY3N0D,419,"[0.023763020833333332, 0.0233154296875, 0.0254..."
66258,ZZY3N0D,86,"[-0.1900906, -0.1623603, 0.0057271323, 0.36105..."
66259,ZZY3N0D,537,"[-0.11635045, -0.029715402, 0.042567663, 0.475..."
66260,ZZY3N0D,459,"[-0.14562988, -0.043823242, -0.018463135, 0.42..."

In [100]:
merged_vectors = pd.merge(restaurant_vectors, user_vectors, on = 'customer_id')

In [101]:
merged_vectors

,customer_id,vendor_id,restaurant_vector,user_vector
0,005ECL6,237,"[-0.15133667, 0.05897522, 0.09327698, 0.575439...","[-0.15133667, 0.05897522, 0.09327698, 0.575439..."
1,009UFS1,304,"[-0.14379883, 0.023950195, 0.059326172, 0.5886...","[-0.07784757, 0.050015535, 0.0772816, 0.424360..."
2,009UFS1,84,"[-0.0473938, 0.030151367, 0.08917236, 0.558105...","[-0.07784757, 0.050015535, 0.0772816, 0.424360..."
3,00GV4J4,189,"[-0.17141113, -0.10946045, 0.0920166, 0.392871...","[-0.15634155, 0.0940094, 0.062149048, 0.487304..."
4,00GV4J4,843,"[-0.08470459, 0.014013672, -0.01048584, 0.4401...","[-0.15634155, 0.0940094, 0.062149048, 0.487304..."
...,...,...,...,...
66256,ZZY3N0D,356,"[-0.118896484, 0.1519043, 0.121679686, 0.50390...","[-0.13615337171052633, -0.05586644222861842, 0..."
66257,ZZY3N0D,419,"[0.023763020833333332, 0.0233154296875, 0.0254...","[-0.13615337171052633, -0.05586644222861842, 0..."
66258,ZZY3N0D,86,"[-0.1900906, -0.1623603, 0.0057271323, 0.36105...","[-0.13615337171052633, -0.05586644222861842, 0..."
66259,ZZY3N0D,537,"[-0.11635045, -0.029715402, 0.042567663, 0.475...","[-0.13615337171052633, -0.05586644222861842, 0..."
66260,ZZY3N0D,459,"[-0.14562988, -0.043823242, -0.018463135, 0.42...","[-0.13615337171052633, -0.05586644222861842, 0..."

### Build dataset

In [109]:
merged_vectors[merged_vectors['vendor_id']==419]['restaurant_vector'].iloc[0]

array([ 0.02376302,  0.02331543,  0.02547201,  0.28027344, -0.00211589,
        0.20507812,  0.05094401, -0.0365804 , -0.0255483 ,  0.21223958,
       -0.06445312,  0.0008138 , -0.09960938,  0.07063802, -0.12548828,
        0.01985677, -0.12353516, -0.00777181,  0.06576029, -0.18432617,
        0.02351888,  0.00406901,  0.09554036, -0.02644857, -0.11214193,
       -0.00325521, -0.20638021,  0.1266276 ,  0.04907227, -0.09871419,
       -0.10416667, -0.05314128,  0.01204427,  0.05472819, -0.03694661,
        0.02945964,  0.07069906,  0.15657552,  0.02937826,  0.01078288,
       -0.02799479,  0.04459635,  0.0641276 ,  0.00842285,  0.05777995,
       -0.1344401 , -0.17936198,  0.0016276 , -0.12369792, -0.08081055,
       -0.07633464, -0.05216471,  0.06966146,  0.03011068,  0.04549154,
       -0.00455729,  0.02539062, -0.05155436, -0.1180013 , -0.1258138 ,
       -0.07405599,  0.10514323,  0.0834554 , -0.05777995,  0.07145182,
       -0.14713542, -0.20279948, -0.0456543 , -0.02207438,  0.09977214,
        0.09859594,  0.10620117, -0.03483073,  0.03918457, -0.10563151,
       -0.11393229,  0.03385417, -0.00154622,  0.04459635, -0.15620931,
       -0.05143229, -0.01338704, -0.10465495,  0.00455729,  0.02258301,
        0.03352865, -0.11523438,  0.19205729,  0.0516154 , -0.05826823,
       -0.07747396, -0.12288411, -0.18082682, -0.05013021, -0.04335531,
        0.02115885, -0.05501302, -0.0538737 ,  0.12858073, -0.12304688,
       -0.02099609,  0.02026367, -0.02734375,  0.15421549, -0.07421875,
       -0.01082357,  0.02669271,  0.00895182, -0.02309163, -0.13190969,
        0.00927734, -0.17480469,  0.04296875, -0.03035482, -0.07397461,
       -0.0797526 ,  0.0296224 , -0.05183919, -0.05537923, -0.09114583,
       -0.07275391, -0.13037109, -0.00390625, -0.01259359,  0.00236003,
        0.12760417, -0.20735677, -0.01041667, -0.01375326, -0.00325521,
       -0.06901042,  0.13509115,  0.13346354, -0.00976562, -0.14619954,
        0.08024089,  0.13216146, -0.07832845,  0.11311849,  0.02058919,
        0.00390625,  0.01250203, -0.1233724 , -0.13704427,  0.02091471,
        0.06445312, -0.00113932, -0.01822917, -0.09163411, -0.09928385,
        0.05533854,  0.01806641, -0.0164388 ,  0.02636719,  0.10139974,
       -0.06673177, -0.20768229,  0.10550944, -0.14420573,  0.05301921,
       -0.14713542, -0.00520833, -0.01334635, -0.01236979, -0.18098958,
        0.03173828,  0.01757812, -0.07454427, -0.08640544, -0.07666016,
       -0.18261719,  0.05522664, -0.04134115, -0.13802083, -0.07259115,
        0.03377279,  0.08418783, -0.12076823,  0.02799479, -0.17317708,
       -0.02282715, -0.2327474 , -0.15755208, -0.12679036,  0.09391276,
        0.04166667,  0.00553385, -0.07446289,  0.0304362 , -0.06282552,
        0.03483073,  0.19075521, -0.11979167,  0.140625  , -0.14583333,
        0.13769531, -0.13704427, -0.03385417, -0.19433594, -0.09187826,
       -0.19173177, -0.04785156, -0.04833984,  0.04711914,  0.09720357,
       -0.03072103, -0.04063924,  0.01025391, -0.05078125, -0.00764974,
       -0.01302083, -0.05200195, -0.24186198,  0.03515625,  0.00683594,
        0.05940755,  0.12972005, -0.07682292, -0.20800781, -0.14506022,
        0.01155599, -0.06241862,  0.05326335,  0.04907227,  0.17675781,
       -0.1266276 , -0.0296224 ,  0.14485677,  0.00878906, -0.16276042,
       -0.00211589, -0.13476562, -0.03356934, -0.00073242, -0.02018229,
       -0.09220378,  0.14518229,  0.09741211,  0.07535807, -0.04825846,
        0.15820312,  0.03873698,  0.05599976,  0.07224019, -0.0061849 ,
       -0.0641276 ,  0.16048177,  0.17675781, -0.09147135,  0.0921224 ,
        0.08170573,  0.07633464,  0.07609049,  0.05013021,  0.16731771,
       -0.26171875, -0.13948568, -0.02246094,  0.06013997, -0.18098958,
       -0.01090495,  0.09393311, -0.00520833, -0.09007263, -0.08988444,
       -0.20507812, -0.0851237 ,  0.01171875,  0.02978516, -0.07600911,
       -0.01915487,  0.07495117, -0.01074219, -0.0608724 ,  0.19238281,
        0.009257  ,  0.01171875, -0.13997396, -0.18546549, -0.0328776 ,
        0.05224609,  0.03393555, -0.06005859,  0.1796875 , -0.0234375 ,
       -0.02848307,  0.03808594,  0.24739583, -0.1702474 ,  0.14746094,
        0.00632731, -0.09423828, -0.04134115, -0.0172526 ,  0.01676432,
       -0.00032552,  0.05989583,  0.0435791 ,  0.01198324,  0.12597656])

In [305]:
data = pd.DataFrame()
for i, row in merged_vectors.iterrows():
    vectors = []
    vectors.append(row['restaurant_vector'])
    vectors.append(row['user_vector'])
    data = data.append({"x":np.mean(vectors, axis=0),"y":1,"user":row['customer_id'],"rest":row['vendor_id']}, ignore_index=True)
    random_restaurant = random.choice(restaurant_ids)
    if random_restaurant not in customer_reataurants[row['customer_id']]:
        vectors = []
        rest_vector = merged_vectors[merged_vectors['vendor_id']==random_restaurant]['restaurant_vector'].iloc[0]
        vectors.append(rest_vector)
        vectors.append(row['user_vector'])
        data = data.append({"x":np.mean(vectors, axis=0),"y":0,"user":row['customer_id'],"rest":random_restaurant}, ignore_index=True)

In [306]:
data = data.reset_index(drop=True)

In [307]:
data

         rest     user                                                  x    y
0       237.0  005ECL6  [-0.15133667, 0.05897522, 0.09327698, 0.575439...  1.0
1       459.0  005ECL6  [-0.14848328, 0.007575989, 0.03740692, 0.50146...  0.0
2       304.0  009UFS1  [-0.1108232, 0.036982864, 0.06830388, 0.506516...  1.0
3       858.0  009UFS1  [-0.08127608, 0.032014605, 0.03339788, 0.43224...  0.0
4        84.0  009UFS1  [-0.062620685, 0.040083453, 0.08322698, 0.4912...  1.0
...       ...      ...                                                ...  ...
128573  203.0  ZZY3N0D  [-0.12120778937088816, -0.07003222013774671, 0...  0.0
128574  537.0  ZZY3N0D  [-0.12625191066610186, -0.042790922140212434, ...  1.0
128575  180.0  ZZY3N0D  [-0.12572439093338816, 0.04021253083881579, 0....  0.0
128576  459.0  ZZY3N0D  [-0.14089162726151316, -0.04984484220805921, 0...  1.0
128577  237.0  ZZY3N0D  [-0.14374502081620066, 0.001554388748972041, 0...  0.0

[128578 rows x 4 columns]


### Train test split

In [327]:
from sklearn.model_selection import train_test_split

In [328]:
x=data['x'].values

In [329]:
X_train, X_test, y_train, y_test = train_test_split(x, data['y'].values, test_size=0.33, random_state=42)

In [330]:
X_train = X_train.tolist()

In [331]:
X_train = np.asarray(X_train)

In [332]:
X_train

array([[-0.14803493, -0.03718801, -0.00194821, ...,  0.07028588,
         0.14200121,  0.09123743],
       [-0.1420323 , -0.0144819 ,  0.06928013, ..., -0.02369559,
         0.12799279,  0.11520647],
       [-0.088643  ,  0.04243821,  0.07144869, ..., -0.02176608,
         0.09581881,  0.07267526],
       ...,
       [-0.12720427, -0.00847288,  0.01707358, ..., -0.02591343,
         0.09017519,  0.07359514],
       [-0.15431365, -0.07282476,  0.0129954 , ...,  0.03295113,
         0.11384288,  0.07191994],
       [-0.14203709,  0.11062916,  0.10174847, ...,  0.03615662,
         0.09253684,  0.02190876]])

In [333]:
X_test = X_test.tolist()
X_test = np.asarray(X_test)
X_test

array([[-0.16440523,  0.01024733,  0.00526475, ...,  0.00316538,
         0.06206947,  0.05966398],
       [-0.13932478, -0.08630259, -0.02775644, ...,  0.00928357,
         0.13491184,  0.1273241 ],
       [-0.07552083, -0.00341797,  0.07580566, ..., -0.02353923,
         0.06401571,  0.1155599 ],
       ...,
       [-0.17593798,  0.05458768,  0.03088064, ...,  0.03323226,
         0.04041492,  0.04886514],
       [-0.11265346,  0.08049665,  0.04654367, ..., -0.02153669,
         0.16797747,  0.04933384],
       [-0.17034094, -0.00422014, -0.00497437, ...,  0.00637272,
         0.10951669,  0.06781878]])

In [334]:
from keras.models import Sequential
from keras.layers import Dense

In [343]:
model = Sequential([
    Dense(100, activation='relu', input_shape=(300,)),
    Dense(100, activation='relu'),
    Dense(2, activation='softmax'),
])

In [346]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [337]:
X_train.shape

(86147, 300)

In [338]:
y_train = tf.keras.utils.to_categorical(y_train, 2)

In [344]:
y_test2 = tf.keras.utils.to_categorical(y_test, 2)

In [340]:
y_train

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [347]:
hist = model.fit(X_train, y_train,
          batch_size=32, epochs=20,
                validation_data=(X_test,y_test2))

Epoch 1/20
2693/2693 [==============================] - 10s 3ms/step - loss: 0.6522 - accuracy: 0.6000 - val_loss: 0.6086 - val_accuracy: 0.6513
Epoch 2/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5895 - accuracy: 0.6758 - val_loss: 0.5792 - val_accuracy: 0.6886
Epoch 3/20
2693/2693 [==============================] - 9s 3ms/step - loss: 0.5663 - accuracy: 0.6965 - val_loss: 0.5507 - val_accuracy: 0.7073
Epoch 4/20
2693/2693 [==============================] - 9s 4ms/step - loss: 0.5503 - accuracy: 0.7107 - val_loss: 0.5637 - val_accuracy: 0.7021
Epoch 5/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5390 - accuracy: 0.7196 - val_loss: 0.5540 - val_accuracy: 0.7108
Epoch 6/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5314 - accuracy: 0.7263 - val_loss: 0.5264 - val_accuracy: 0.7285
Epoch 7/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5269 - accuracy: 0.7276 - val_loss: 0.5503 - val_accuracy: 0.7165
Epoch 8/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5181 - accuracy: 0.7356 - val_loss: 0.5541 - val_accuracy: 0.7094
Epoch 9/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5166 - accuracy: 0.7364 - val_loss: 0.5357 - val_accuracy: 0.7261
Epoch 10/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5141 - accuracy: 0.7393 - val_loss: 0.5179 - val_accuracy: 0.7373
Epoch 11/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5130 - accuracy: 0.7410 - val_loss: 0.5353 - val_accuracy: 0.7266
Epoch 12/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5127 - accuracy: 0.7406 - val_loss: 0.5275 - val_accuracy: 0.7365
Epoch 13/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5094 - accuracy: 0.7434 - val_loss: 0.5141 - val_accuracy: 0.7419
Epoch 14/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5078 - accuracy: 0.7473 - val_loss: 0.5294 - val_accuracy: 0.7370
Epoch 15/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5083 - accuracy: 0.7450 - val_loss: 0.5248 - val_accuracy: 0.7433
Epoch 16/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5060 - accuracy: 0.7485 - val_loss: 0.5039 - val_accuracy: 0.7492
Epoch 17/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5025 - accuracy: 0.7514 - val_loss: 0.5079 - val_accuracy: 0.7439
Epoch 18/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5023 - accuracy: 0.7515 - val_loss: 0.5317 - val_accuracy: 0.7280
Epoch 19/20
2693/2693 [==============================] - 9s 3ms/step - loss: 0.5010 - accuracy: 0.7508 - val_loss: 0.5255 - val_accuracy: 0.7441
Epoch 20/20
2693/2693 [==============================] - 8s 3ms/step - loss: 0.5065 - accuracy: 0.7478 - val_loss: 0.5300 - val_accuracy: 0.7382

In [348]:
y_pred = np.argmax(model.predict(X_test), axis=-1)

In [349]:
y_pred

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [350]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7381867031180034

### Recomenndation for user

In [406]:
#LCY5W4A
user_vector = merged_vectors[merged_vectors['customer_id']=='LCY5W4A']['user_vector'].iloc[0]
restaurant_vectors = merged_vectors[['restaurant_vector','vendor_id']]

In [407]:
restaurant_vectors = restaurant_vectors.drop_duplicates(subset="vendor_id")

In [408]:
data_user = pd.DataFrame()
for i, row in restaurant_vectors.iterrows():
    vectors = []
    vectors.append(row['restaurant_vector'])
    vectors.append(user_vector)
    data_user = data_user.append({"x":np.mean(vectors, axis=0),"rest":row['vendor_id']}, ignore_index=True)

In [409]:
X_user = data_user['x'].tolist()
X_user = np.asarray(X_user)
X_user

array([[-0.15443048,  0.03591565,  0.07200083, ...,  0.02943848,
         0.07281206,  0.03113072],
       [-0.15066156,  0.01840314,  0.05502543, ...,  0.04019746,
         0.06072328,  0.0378278 ],
       [-0.10245905,  0.02150373,  0.06994852, ..., -0.01796294,
         0.06955526,  0.04647343],
       ...,
       [-0.13256464,  0.01918439,  0.00795206, ...,  0.07441758,
         0.06697939, -0.00655086],
       [-0.1920434 , -0.04507953,  0.02638773, ...,  0.06193208,
         0.08791444,  0.02385075],
       [-0.1920434 , -0.04507953,  0.02638773, ...,  0.06193208,
         0.08791444,  0.02385075]])

In [410]:
preds = model.predict(X_user)

In [411]:
preds

array([[4.1493851e-01, 5.8506155e-01],
       [9.0786988e-01, 9.2130087e-02],
       [1.2339167e-02, 9.8766077e-01],
       [7.6440328e-01, 2.3559675e-01],
       [6.1150998e-01, 3.8849002e-01],
       [9.2197835e-01, 7.8021616e-02],
       [3.4702173e-01, 6.5297824e-01],
       [1.4924532e-01, 8.5075468e-01],
       [1.8113431e-01, 8.1886572e-01],
       [1.9920136e-01, 8.0079859e-01],
       [3.4702173e-01, 6.5297824e-01],
       [9.7197545e-01, 2.8024517e-02],
       [8.7414694e-01, 1.2585306e-01],
       [7.7492699e-02, 9.2250729e-01],
       [9.1785526e-01, 8.2144707e-02],
       [9.8662692e-01, 1.3373080e-02],
       [7.6440328e-01, 2.3559675e-01],
       [8.7944186e-01, 1.2055817e-01],
       [8.4601110e-01, 1.5398885e-01],
       [3.8137734e-01, 6.1862260e-01],
       [1.9920136e-01, 8.0079859e-01],
       [6.1150998e-01, 3.8849002e-01],
       [6.1150998e-01, 3.8849002e-01],
       [9.4455904e-01, 5.5441007e-02],
       [6.1150998e-01, 3.8849002e-01],
       [7.7492699e-02, 9.2250729e-01],
       [1.1127185e-01, 8.8872814e-01],
       [6.1150998e-01, 3.8849002e-01],
       [7.9462940e-01, 2.0537058e-01],
       [1.8885529e-01, 8.1114471e-01],
       [9.5145118e-01, 4.8548840e-02],
       [1.3024734e-01, 8.6975271e-01],
       [5.7282710e-01, 4.2717287e-01],
       [7.9769403e-01, 2.0230596e-01],
       [8.5489583e-01, 1.4510415e-01],
       [4.1576561e-01, 5.8423442e-01],
       [1.2265063e-01, 8.7734932e-01],
       [9.4046049e-02, 9.0595394e-01],
       [9.7213393e-01, 2.7866038e-02],
       [8.5854709e-01, 1.4145291e-01],
       [6.2748975e-01, 3.7251025e-01],
       [7.6440328e-01, 2.3559675e-01],
       [6.1150998e-01, 3.8849002e-01],
       [9.9174869e-01, 8.2513252e-03],
       [9.6689922e-01, 3.3100747e-02],
       [7.7808839e-01, 2.2191159e-01],
       [4.6031639e-01, 5.3968364e-01],
       [5.6933498e-01, 4.3066496e-01],
       [5.6933498e-01, 4.3066496e-01],
       [7.9594219e-01, 2.0405784e-01],
       [7.0608062e-01, 2.9391930e-01],
       [9.8735446e-01, 1.2645519e-02],
       [8.7944186e-01, 1.2055817e-01],
       [9.7197545e-01, 2.8024517e-02],
       [7.7492699e-02, 9.2250729e-01],
       [3.5994917e-01, 6.4005077e-01],
       [5.2251744e-01, 4.7748253e-01],
       [7.6432502e-01, 2.3567490e-01],
       [9.3136859e-01, 6.8631381e-02],
       [8.0314356e-01, 1.9685642e-01],
       [6.8732101e-01, 3.1267899e-01],
       [4.4559216e-01, 5.5440778e-01],
       [9.5343542e-01, 4.6564579e-02],
       [9.6970987e-01, 3.0290157e-02],
       [9.9194020e-01, 8.0597643e-03],
       [9.9334562e-01, 6.6544036e-03],
       [8.8014960e-01, 1.1985044e-01],
       [9.7197545e-01, 2.8024517e-02],
       [9.5891923e-01, 4.1080754e-02],
       [9.5073384e-01, 4.9266122e-02],
       [8.1256783e-01, 1.8743218e-01],
       [7.8180134e-01, 2.1819864e-01],
       [3.8165274e-01, 6.1834729e-01],
       [6.1150998e-01, 3.8849002e-01],
       [9.6972263e-01, 3.0277342e-02],
       [8.7254506e-01, 1.2745495e-01],
       [9.0790331e-01, 9.2096694e-02],
       [7.9118979e-01, 2.0881023e-01],
       [6.6526699e-01, 3.3473307e-01],
       [9.5257890e-01, 4.7421090e-02],
       [6.6526699e-01, 3.3473307e-01],
       [8.7710285e-01, 1.2289717e-01],
       [1.9920136e-01, 8.0079859e-01],
       [6.6526699e-01, 3.3473307e-01],
       [9.8706985e-01, 1.2930207e-02],
       [9.8438752e-01, 1.5612503e-02],
       [4.3921852e-01, 5.6078142e-01],
       [9.5202094e-01, 4.7979031e-02],
       [7.7808839e-01, 2.2191159e-01],
       [7.5885117e-01, 2.4114887e-01],
       [8.3885914e-01, 1.6114090e-01],
       [9.9991286e-01, 8.7186825e-05],
       [9.3291765e-01, 6.7082301e-02],
       [9.3563366e-01, 6.4366326e-02],
       [9.9381131e-01, 6.1887219e-03],
       [7.7808845e-01, 2.2191156e-01],
       [8.6800027e-01, 1.3199973e-01],
       [9.5126021e-01, 4.8739851e-02],
       [9.8706985e-01, 1.2930207e-02],
       [9.8706985e-01, 1.2930207e-02]], dtype=float32)

In [412]:
preds_1 = [pred[1] for pred in preds]

In [413]:
len(preds_1)

100

In [414]:
data_user["pred_1"] = 0.0

In [415]:
def append_buy_prob_column(data_user,preds_1):
    for i, row in data_user.iterrows():
        data_user.at[i, 'pred_1'] = preds_1[i]
    return data_user

In [416]:
data_user = append_buy_prob_column(data_user,preds_1)

In [417]:
data_user

     rest                                                  x    pred_1
0   237.0  [-0.1544304824456936, 0.03591565388004954, 0.0...  0.585062
1   304.0  [-0.1506615615472561, 0.018403141486753778, 0....  0.092130
2    84.0  [-0.1024590468988186, 0.021503727610518292, 0....  0.987661
3   189.0  [-0.16446771091077386, -0.04830218133766477, 0...  0.235597
4   843.0  [-0.12111444389674722, 0.013434880140532807, 0...  0.388490
..    ...                                                ...       ...
95  196.0  [-0.2262230849847561, 0.04426984089176829, 0.1...  0.221912
96  154.0  [-0.14033441310975608, 0.059492008860518295, 0...  0.132000
97  115.0  [-0.1325646377191311, 0.019184391673018292, 0....  0.048740
98  300.0  [-0.1920433974847561, -0.04507952583272283, 0....  0.012930
99  303.0  [-0.1920433974847561, -0.04507952583272283, 0....  0.012930

[100 rows x 3 columns]

In [428]:
data_user = data_user.sort_values('pred_1', ascending=False)[:10]

In [429]:
data_user

     rest                                                  x    pred_1
2    84.0  [-0.1024590468988186, 0.021503727610518292, 0....  0.987661
25  106.0  [-0.15791254108998834, 0.014484684641768292, 0...  0.922507
54  105.0  [-0.15791254108998834, 0.014484684641768292, 0...  0.922507
13  104.0  [-0.15791254108998834, 0.014484684641768292, 0...  0.922507
37  386.0  [-0.3199730849847561, -0.1722828934832317, 0.1...  0.905954
26  356.0  [-0.1382103896722561, 0.08238019394438441, 0.0...  0.888728
36   86.0  [-0.1738074458226925, -0.07475210380990331, 0....  0.877349
31  537.0  [-0.1369373722955948, -0.008429657009134933, 0...  0.869753
7   145.0  [-0.08201735574047922, 0.03664044636051829, 0....  0.850755
8   459.0  [-0.1515770888910061, -0.015483577076981708, 0...  0.818866

In [430]:
customer_reataurants['LCY5W4A'] ## 3/10

[105, 83, 85, 90, 197, 243, 148, 84, 237, 419, 391, 537]

In [431]:
vendors_user = [vendors[vendors['id'].isin(customer_reataurants['LCY5W4A'])]]
vendors_recommended = [vendors[vendors['id'].isin(list(data_user['rest']))]]

In [432]:
vendors_user

[     id                                    vendor_tag_name
 17   83                   Breakfast,Desserts,Salads,Arabic
 18   84                   Burgers,Fries,Kids meal,Shawarma
 19   85                                     Desserts,Omani
 21   90           American,Burgers,Desserts,Mojitos ,Pasta
 24  105      American,Burgers,Free Delivery,Hot Dogs,Pasta
 31  148  Breakfast,Burgers,Grills,Pizza,Sandwiches,Shaw...
 47  197                       Free Delivery,Mexican,Salads
 56  237  American,Burgers,Desserts,Donuts,Fries,Pasta,S...
 57  243                                                NaN
 75  391  American,Breakfast,Burgers,Desserts,Italian,Sa...
 78  419                          Arabic,Kushari,Sandwiches
 80  537  American,Burgers,Desserts,Free Delivery,Fries,...]

In [433]:
vendors_recommended

[     id                                    vendor_tag_name
 18   84                   Burgers,Fries,Kids meal,Shawarma
 20   86  Cakes,Crepes,Desserts,Donuts,Fresh Juices,Ice ...
 23  104      American,Burgers,Free Delivery,Hot Dogs,Pasta
 24  105      American,Burgers,Free Delivery,Hot Dogs,Pasta
 25  106      American,Burgers,Free Delivery,Hot Dogs,Pasta
 30  145                           Arabic,Pizzas,Sandwiches
 73  356             American,Kids meal,Pasta,Pizzas,Salads
 74  386                                            Churros
 79  459          Burgers,Free Delivery,Milkshakes,Mojitos
 80  537  American,Burgers,Desserts,Free Delivery,Fries,...]

In [17]:
#customer_ids = list(dataset['customer_id'].unique())
#idx = int((4/5)*len(customer_ids))
#customer_ids_train = customer_ids[:idx]
#customer_ids_test = customer_ids[idx+1:len(customer_ids)]

In [18]:
# = dataset[dataset['customer_id'].isin(customer_ids_train)]
#test_df = dataset[dataset['customer_id'].isin(customer_ids_test)]