In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
vendors = pd.read_csv("../data/vendors.csv")

In [277]:
vendors.head()

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1

In [278]:
vendors.describe()

,id,authentication_id,latitude,longitude,vendor_category_id,delivery_charge,serving_distance,is_open,prepration_time,commission,discount_percentage,status,verified,rank,vendor_rating,open_close_flags,country_id,city_id,device_type,display_orders
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.00000,85.0,100.000000,100.00000,100.000000,100.00000,100.000000,100.0,100.0,100.0,100.00,100.0
mean,288.840000,120050.760000,1.875505,0.803682,2.110000,0.413000,11.750000,0.85000,14.03000,0.0,1.100000,0.85000,0.880000,9.90000,4.350000,1.0,1.0,1.0,2.98,1.0
std,242.299994,3509.069064,20.600857,4.397859,0.314466,0.346018,4.108073,0.35887,4.31688,0.0,6.299751,0.35887,0.326599,3.14466,0.248836,0.0,0.0,0.0,0.20,0.0
min,4.000000,118597.000000,-1.787413,-1.449556,2.000000,0.000000,2.000000,0.00000,5.00000,0.0,0.000000,0.00000,0.000000,1.00000,3.200000,1.0,1.0,1.0,1.00,1.0
25%,105.750000,118702.750000,-0.809124,0.081618,2.000000,0.000000,8.000000,1.00000,10.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.200000,1.0,1.0,1.0,3.00,1.0
50%,202.000000,118801.000000,-0.493421,0.527123,2.000000,0.700000,15.000000,1.00000,15.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.400000,1.0,1.0,1.0,3.00,1.0
75%,387.250000,118990.250000,0.015915,0.644764,2.000000,0.700000,15.000000,1.00000,15.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.500000,1.0,1.0,1.0,3.00,1.0
max,907.000000,132953.000000,205.242327,44.210807,3.000000,0.700000,15.000000,1.00000,45.00000,0.0,50.000000,1.00000,1.000000,11.00000,4.800000,1.0,1.0,1.0,3.00,1.0

In [ ]:
sns.histplot(vendors['id'])

In [279]:
vendors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 59 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    100 non-null    int64
 1   authentication_id     100 non-null    float64
 2   latitude              100 non-null    float64
 3   longitude             100 non-null    float64
 4   vendor_category_en    100 non-null    object
 5   vendor_category_id    100 non-null    float64
 6   delivery_charge       100 non-null    float64
 7   serving_distance      100 non-null    float64
 8   is_open               100 non-null    float64
 9   OpeningTime           91 non-null     object
 10  OpeningTime2          91 non-null     object
 11  prepration_time       100 non-null    int64
 12  commission            85 non-null     float64
 13  is_akeed_delivering   100 non-null    object
 14  discount_percentage   100 non-null    float64
 15  status                100 non-null    float64
 16  verified              100 non-null    int64
 17  rank                  100 non-null    int64
 18  language              85 non-null     object
 19  vendor_rating         100 non-null    float64
 20  sunday_from_time1     99 non-null     object
 21  sunday_to_time1       99 non-null     object
 22  sunday_from_time2     42 non-null     object
 23  sunday_to_time2       42 non-null     object
 24  monday_from_time1     100 non-null    object
 25  monday_to_time1       100 non-null    object
 26  monday_from_time2     42 non-null     object
 27  monday_to_time2       42 non-null     object
 28  tuesday_from_time1    99 non-null     object
 29  tuesday_to_time1      99 non-null     object
 30  tuesday_from_time2    41 non-null     object
 31  tuesday_to_time2      41 non-null     object
 32  wednesday_from_time1  100 non-null    object
 33  wednesday_to_time1    100 non-null    object
 34  wednesday_from_time2  42 non-null     object
 35  wednesday_to_time2    42 non-null     object
 36  thursday_from_time1   99 non-null     object
 37  thursday_to_time1     99 non-null     object
 38  thursday_from_time2   42 non-null     object
 39  thursday_to_time2     42 non-null     object
 40  friday_from_time1     96 non-null     object
 41  friday_to_time1       96 non-null     object
 42  friday_from_time2     45 non-null     object
 43  friday_to_time2       45 non-null     object
 44  saturday_from_time1   98 non-null     object
 45  saturday_to_time1     98 non-null     object
 46  saturday_from_time2   42 non-null     object
 47  saturday_to_time2     42 non-null     object
 48  primary_tags          77 non-null     object
 49  open_close_flags      100 non-null    float64
 50  vendor_tag            100 non-null    object
 51  vendor_tag_name       100 non-null    object
 52  one_click_vendor      100 non-null    object
 53  country_id            100 non-null    float64
 54  city_id               100 non-null    float64
 55  created_at            100 non-null    object
 56  updated_at            100 non-null    object
 57  device_type           100 non-null    int64
 58  display_orders        100 non-null    int64
dtypes: float64(14), int64(6), object(39)
memory usage: 46.2+ KB

In [ ]:
vendors['vendor_category_en'].value_counts()

In [ ]:
vendors['vendor_category_id'].value_counts()

In [ ]:
# possible row to delete - wrong
vendors.loc[(vendors['vendor_category_id'] == 2.0 ) & ( vendors['vendor_category_en'] == 'Sweets & Bakes')]

In [ ]:
# possible delivery charge rate - 0.7 yes, 0.3 no
vendors['delivery_charge'].value_counts()

In [ ]:
#how far can the restaurant deliver
vendors['serving_distance'].hist()

In [ ]:
vendors['vendor_rating'].value_counts()

In [ ]:
pd.factorize(vendors['OpeningTime'].apply(lambda x: str(x).split('-')[0]))

In [ ]:
pd.factorize(vendors['OpeningTime'].apply(lambda x:  str(x).split('-')[1] if len(str(x).split('-')) > 1 else 'nan'))

In [ ]:
vendors['prepration_time'].value_counts()

In [ ]:
vendors['discount_percentage'].value_counts()

In [ ]:
# pd.DataFrame(vendors['vendor_tag'].str.split().to_numpy())
df = pd.DataFrame([pd.Series(x.split(',')) for x in vendors['vendor_tag']])
# df.columns = ['team_{}'.format(x+1) for x in df.columns]
df

In [ ]:
vendors['vendor_tag'] = vendors['vendor_tag'].fillna("0")
vendors['vendor_tag']

In [ ]:
vendors['vendor_tag_name'] = vendors['vendor_tag_name'].fillna("")
vendors['vendor_tag_name']

In [ ]:
tags = vendors[['vendor_tag', 'vendor_tag_name']]
item_tags_dict = {}


for index, row in tags.iterrows():
    item_keys = row['vendor_tag'].split(',')
    item_names = row['vendor_tag_name'].split(',')
    item_names = [x.strip() for x in item_names]
    for idx, item in enumerate(item_keys):
        # print(item)
        item_tags_dict[item] = item_names[idx]
        
item_tags_dict

In [ ]:
x = pd.DataFrame(vendors['vendor_tag'].apply(lambda x: x.split(",")).explode())
x['index'] = x.index
x['value'] = 1
x['vendor_tag'] = x['vendor_tag'].apply(lambda x: item_tags_dict[x])

x

In [178]:
x_pivoted = x.pivot(columns='vendor_tag', values='value').reset_index().fillna(0)

In [179]:
result = pd.merge(vendors, x_pivoted, left_index=True, right_index=True)

In [185]:
result.head()

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,Smoothies,Soups,Spanish Latte,Steaks,Sushi,Sweets,Thai,Thali,Vegetarian,Waffles
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Columns to take into consideration:
* id 
* vendor_category_id
* delivery_charge
* serving_distance
* vendor_rating
* prepration_time
* discount_percentage
* vendor tags

In [187]:
vendors_final = result[['id', 'vendor_category_id', 'delivery_charge', 'serving_distance', 'vendor_rating', 
                     'prepration_time',   'discount_percentage', 'American', 'Arabic', 'Asian', 'Bagels', 'Biryani',
       'Breakfast', 'Burgers', 'Cafe', 'Cakes', 'Chinese', 'Churros', 'Coffee',
       'Combos', 'Crepes', 'Desserts', 'Dimsum', 'Donuts', 'Family Meal',
       'Fatayers', 'Free Delivery', 'Fresh Juices', 'Fries', 'Frozen yoghurt',
       'Grills', 'Healthy Food', 'Hot Chocolate', 'Hot Dogs', 'Ice creams',
       'Indian', 'Italian', 'Japanese', 'Karak', 'Kebabs', 'Kids meal',
       'Kushari', 'Lebanese', 'Manakeesh', 'Mandazi', 'Mexican', 'Milkshakes',
       'Mishkak', 'Mojitos', 'Omani', 'Organic', 'Pancakes', 'Pasta', 'Pastas',
       'Pastry', 'Pizza', 'Pizzas', 'Rice', 'Rolls', 'Salads', 'Sandwiches',
       'Seafood', 'Shawarma', 'Shuwa', 'Smoothies', 'Soups', 'Spanish Latte',
       'Steaks', 'Sushi', 'Sweets', 'Thai', 'Thali', 'Vegetarian', 'Waffles']]

In [188]:
vendors_final.to_csv('vendors_cleaned.csv')

In [284]:
len(item_tags_dict.keys())

68

In [285]:
item_tags_dict

{'2': 'Arabic',
 '4': 'Breakfast',
 '5': 'Burgers',
 '8': 'Desserts',
 '91': 'Free Delivery',
 '22': 'Grills',
 '12': 'Lebanese',
 '24': 'Salads',
 '16': 'Sandwiches',
 '23': 'Shawarma',
 '41': 'Cakes',
 '51': 'Crepes',
 '34': 'Italian',
 '27': 'Pasta',
 '15': 'Pizzas',
 '28': 'Soups',
 '10': 'Indian',
 '30': 'Fries',
 '42': 'Mexican',
 '1': 'American',
 '32': 'Milkshakes',
 '3': 'Asian',
 '9': 'Healthy Food',
 '11': 'Japanese',
 '54': 'Sushi',
 '52': 'Mojitos',
 '53': 'Mandazi',
 '13': 'Omani',
 '50': 'Manakeesh',
 '48': 'Kids meal',
 '57': 'Donuts',
 '38': 'Fresh Juices',
 '43': 'Ice creams',
 '62': 'Pancakes',
 '25': 'Waffles',
 '29': 'Hot Dogs',
 '58': 'Dimsum',
 '33': 'Rice',
 '56': 'Sweets',
 '35': 'Steaks',
 '89': 'Pizza',
 '47': 'Mishkak',
 '31': 'Biryani',
 '67': 'Thali',
 '21': 'Vegetarian',
 '63': 'Pastry',
 '17': 'Seafood',
 '0': '',
 '7': 'Chinese',
 '19': 'Thai',
 '60': 'Coffee',
 '73': 'Organic',
 '36': 'Smoothies',
 '79': 'Karak',
 '45': 'Rolls',
 '61': 'Hot Chocolate',
 '90': 'Pastas',
 '83': 'Combos',
 '26': 'Bagels',
 '80': 'Churros',
 '77': 'Shuwa',
 '64': 'Frozen yoghurt',
 '71': 'Kushari',
 '86': 'Spanish Latte',
 '49': 'Family Meal',
 '44': 'Kebabs',
 '6': 'Cafe',
 '46': 'Fatayers'}